In [1]:

U=[2,3,4,5,6,7]
U.remove(6)                                             # REMOVE OF THE LIST
print(U)

[2, 3, 4, 5, 7]

In [2]:
L=[10,12,14,16,18,20]
L.pop(4)                                               # POP OF THE LIST
print(L)

[10, 12, 14, 16, 20]

In [3]:
N=[11,12,13,15,17,19]
N.index(17)                                               # INDEX OF THE LIST
print(N.index(17))

4

In [4]:
R=[15,25,25,25,55,65,75]
R.count(25)                                               # COUNT OF THE LIST
print(R.count(25))

3

In [5]:
K=["Cherry","Banana","Apple","grapes"]
K.sort()                                                  # SORT OF THE LIST
print(K)

['Apple', 'Banana', 'Cherry', 'grapes']

In [6]:
P=[1.1,1.2,1.3,1.4,1.5]
P.reverse()                                               # REVERSE OF THE LIST
print(P)

[1.5, 1.4, 1.3, 1.2, 1.1]

In [7]:
P="sai,saran"
print(P[8])                                               # SLICING OF THE STRING
print(P[1:5])

n
ai,s

In [8]:
Y="java"
Z="python"                                                  # CONCATENATION OF STRING
K=Y+" "+Z
print(K)

java python

In [9]:
G=["data scientist","data analyst","data engineer","database developer"]
P=G*2                                                                           # REPETITION OF STRING
print(P)

['data scientist', 'data analyst', 'data engineer', 'database developer', 'data scientist', 'data analyst', 'data engineer', 'database developer']

In [10]:

age = 32
y="the age  is{}"
print(y.format(age))                                                          # STRING FORMAT METHOD

the age  is32

In [11]:
name="akshay"
age = 33                                                                       # FORMAT 2 METHOD OF STRING
location="hyderabad"
qualification="btech"
print(f"hai,My name is {name} and I'm {age} years old and my location is{location} and my qualification is {qualification}")

hai,My name is akshay and I'm 33 years old and my location ishyderabad and my qualification is btech

In [12]:
K="sai saran"
print(len(K))
                                                                                # LENGTH OF STRING

9

In [13]:
U="DHEERAJ"
print(U.lower())                                                                 # LOWER OF STRING

dheeraj

In [14]:
L="amitabh"
print(L.upper())                                                                 # UPPER OF STRING

AMITABH

In [15]:
J="python programming is object oriented language"
J.split()                                                                        
print(J.split())                                                                # SPLIT OF STRING

['python', 'programming', 'is', 'object', 'oriented', 'language']

In [16]:
U=  " PYTHON  IS EASY TO UNDERSTAND  "
U.strip()                                                                       # STRIP OF STRING
print(U.strip())

PYTHON  IS EASY TO UNDERSTAND

In [17]:

Y="TODAY CLASS IS DIFFICULTY"
print(Y.replace("DIFFICULTY","UNDERSTANDABLE"))                                 # REPLACE OF STRING

TODAY CLASS IS UNDERSTANDABLE