In [1]:
A=12
B=13
C=A+B
D=B-A
E=B/A
F=A*B
G=A**B
H=B//A
I=B%A                                                        # ARITHMETIC OPERATORS
print(C)
print(D)
print(E)
print(F)
print(G)
print(H)
print(I)

25
1
1.0833333333333333
156
106993205379072
1
1

In [ ]:
                                             # ASSIGNMENT OPERATORS

In [4]:
a=25
b=15
a=a+b
print(a)

40

In [5]:
a=25
b=15
a=a-b
print(a)

10

In [6]:
a=25
b=15
a=a*b
print(a)

375

In [7]:
a=25
b=15
a=a/b
print(a)

1.6666666666666667

In [8]:
a=25
b=15
a=a//b
print(a)

1

In [9]:
a=25
b=15
a=a%b
print(a)

10

In [10]:
a=25
b=15
a=a**b
print(a)

931322574615478515625

In [ ]:
                                            # RELATIONAL OPERATORS

In [11]:
A=540
B=620
print(A>B)
print(A<B)
print(A==B)
print(A!=B)
print(A>=B)
print(A<=B)

False
True
False
True
False
True

In [18]:
A=678
B=435
print(A>B and A!=B)                            # LOGICAL AND OPERATOR

True

In [19]:
A=345
B=786
print(A<B or A>=B)                              # LOGICAL OR OPERATOR

True

In [20]:
A=580
B=679                                            # LOGICAL NOT OPERATOR
print(not(A>B and B>A))

True

In [21]:
A=[124,4.56,"SARAN","5+6J"]
B=[234,678,"LEELA","VINAY"]
print(A is B)                                      # IDENTITY OPERATORS
print(A is not B)

False
True

In [22]:
P=[1.1,2.34,456.8,"ANNAVARAM","SHIRDI"]
Q=[23,3496,"MOTHER","FATHER","SISTER","SON"]           # MEMBERSHIP OPERATORS
print(2.34 in P)
print("SON" not in Q)

True
False

In [29]:
a=6
b=3                                                        #BITWISE OPERATORS
print(a^b)

5

In [30]:
a=6
b=3
print(a&b)

2

In [31]:
a=6
b=3
print(a<<b)

48

In [32]:
a=8
b=2
print(a>>b)

2

In [33]:
a=6
b=3
print(a|b)

7

In [34]:
a=6
b=3
print(~a)
print(~b)

-7
-4

In [35]:
P=[12,14,16,68.5,580.2,"SARAN","PRAJWAL"]
print(P[3])
print(P[-2])                                                       # ACCESING AND SLICING THE LIST
print(P[1:6])                                             
print(P[2:])

68.5
SARAN
[14, 16, 68.5, 580.2, 'SARAN']
[16, 68.5, 580.2, 'SARAN', 'PRAJWAL']

In [39]:
T=[12,13,14,15]
T.remove(12)
print(T)                                                        # REMOVE OF LIST

[13, 14, 15]

In [40]:
Y=[12,14,16,18,20]
Y.index(18)                                                     # INDEX OF LIST
print(Y.index(18))

3

In [41]:
H=[10,10,15,20,25,30]
H.count(10)                                                   # COUNT OF LIST
print(H.count(10))

2

In [47]:
K=[15,16,17,18,19]
K.pop(3)                                                     # POP OF LIST
print(K)

[15, 16, 17, 19]

In [49]:
W=[12,13,14]
W.append(15)                                                 # APPEND OF LIST
print(W)

[12, 13, 14, 15]

In [54]:
L=[13,14,15,16]
L.extend([9,10])                                             # EXTEND OF LIST
print(L)

[13, 14, 15, 16, 9, 10]

In [58]:
U=[12,"SAI","SARAN",69.8]
U.insert(2,"leela")                                         # INSERT OF LIST
print(U)

[12, 'SAI', 'leela', 'SARAN', 69.8]

In [27]:
R=["CHERRY","Banana","GRAPES","Apple","POMEGRANATE"]
R.sort()
print(R)                                                     # SORT OF LIST

['Apple', 'Banana', 'CHERRY', 'GRAPES', 'POMEGRANATE']

In [28]:
W=[67,75,83,94,104,115]
W.reverse()                                                   # REVERSE OF LIST
print(W)

[115, 104, 94, 83, 75, 67]

In [64]:
R1=(1235,789.4,"DIYAN","PRAJWAL")
print(R1[1])                                             # ACCESING AND SLICING THE TUPLE
print(R1[1:3])

789.4
(789.4, 'DIYAN')

In [63]:
R1=(1235,789.4,"DIYAN","PRAJWAL")
R2=(234,"BHAVANI",5+8J)
R3=R1+R2                                                    # CONCATENATION OF TUPLE
print(R3)

(1235, 789.4, 'DIYAN', 'PRAJWAL', 234, 'BHAVANI', (5+8j))

In [65]:
Y1=["DATA SCIENCE PROJECT"]
Y=Y1*2
print(Y)                                                  # REPETITION OF TUPLE

['DATA SCIENCE PROJECT', 'DATA SCIENCE PROJECT']

In [67]:
K=(12,12,12,34,56,67,80)
K.count(12)                                                # COUNT OF TUPLE
print(K.count(12))

3

In [68]:
L=(35,45,58,69,80)
L.index(58)                                                # INDEX OF TUPLE
print(L.index(58))

2

In [84]:
N={"NAME" : "DIYAN","AGE" : "23","QUALIFICATION" : "MTECH","PERCENTAGE" : 80,"JOB" : "SOFTWARE DEVELOPER"}
print(N["NAME"])
print(N["PERCENTAGE"])                                     # ACCESING THE DICTIONARY
print(N["JOB"])
print(N.items())
print(N.values())
print(N.popitem())
print(N.get("QUALIFICATION"))

DIYAN
80
SOFTWARE DEVELOPER
dict_items([('NAME', 'DIYAN'), ('AGE', '23'), ('QUALIFICATION', 'MTECH'), ('PERCENTAGE', 80), ('JOB', 'SOFTWARE DEVELOPER')])
dict_values(['DIYAN', '23', 'MTECH', 80, 'SOFTWARE DEVELOPER'])
('JOB', 'SOFTWARE DEVELOPER')
MTECH

In [86]:
T={12,14,56,79,85,91,108}
print(T)                                                       # CREATING A SET
print(type(T))

{85, 56, 91, 108, 12, 14, 79}
<class 'set'>

In [88]:
Y={12,113,125,136,143,167}
L={45,56,369,455,5555,9877}
P=Y.union(L)                                                    # UNION OF SET
print(P)

{167, 136, 455, 12, 45, 143, 113, 369, 5555, 9877, 56, 125}

In [89]:
R={11,12,12,14,15,16}
W={12,17,18,19,11,11}                                         # INTERSECTION OF SET
E=R.intersection(W)
print(E)

{11, 12}

In [90]:
G={5,6,7,8,9,10}
H={4,3,11,12,13,14}
M=H-G                                                         # DIFFERENCE OF SET
print(M)

{3, 4, 11, 12, 13, 14}

In [91]:
C={11,11,12,12,13,14,15,16,17}
Z={11,11,12,12,18,19,20,21}                                   # SYMMETRIC DIFFERENCE OF SET
W=C ^ Z
print(W)

{13, 14, 15, 16, 17, 18, 19, 20, 21}

In [94]:
B={12, 12,13,14,15,16,17}
P1=B.remove(12)                                                # REMOVE ELEMENT OF SET
print(B)

{16, 17, 13, 14, 15}

In [1]:
N=int(input("enter software salary per month:"))
L=int(input("enter income tax per month:"))
if N>L and N<=L:                                                 # CONDITIONAL STATEMENTS PROGRAM USING S/W SALARY AND 
    print("you have tax for month:")                                            #IN/TX PER MONTH
elif N<L or N!=L:
    print("you have no tax for month:")
else:
    print("you are a student:")

enter software salary per month:67000
enter income tax per month:3450
you have no tax for month:

In [2]:
H=("SAI","SARAN","DIYAN DEV","PRAJWAL SAI","VINAY","LEELA")
print(H[2])
print(H[1:5])                                                  # ACCESING AND SLICING THE STRINGS

DIYAN DEV
('SARAN', 'DIYAN DEV', 'PRAJWAL SAI', 'VINAY')

In [2]:
name="saran"
age=23
location="hyderabad"                                          # F STRING METHOD
qualification="btech"
print(f"hai my name is {name} and the age is {age} current location is {location} and my qualification is {qualification}")

hai my name is saran and the age is 23 current location is hyderabad and my qualification is btech

In [6]:
W="SARAN"
L=W.lower()                                                    # LOWER OF STRING
print(L)

saran

In [8]:
Y="baba temple is located in shirdi at maharashtra"
T=Y.upper()                                                     # UPPER OF STRING
print(T)

BABA TEMPLE IS LOCATED IN SHIRDI AT MAHARASHTRA

In [9]:
N="To learn the data science kindly choose one programming language"
K=N.split()                                                             # SPLIT OF STRING
print(K)

['To', 'learn', 'the', 'data', 'science', 'kindly', 'choose', 'one', 'programming', 'language']

In [10]:
R="SRISAILAM"
P=len(R)                                                               # LENGTH OF STRING
print(P)

9

In [11]:
W="  MACHINE LEARNING ALGORITHMS IS A PART OF DATA SCIENCE COURSE  "
H=W.strip()                                                            # STRIP OF STRING
print(H)

MACHINE LEARNING ALGORITHMS IS A PART OF DATA SCIENCE COURSE

In [20]:
W="PROGRAMMING"
E="MATHEMATICS"
R=W+" "+E                                                                # CONCATENATION OF STRING
print(R)

PROGRAMMING MATHEMATICS

In [19]:
T="DATA ANALYST","DATA ENGINEER"
R=T  *  3                                                              # REPETITION OF STRING
print(R)

('DATA ANALYST', 'DATA ENGINEER', 'DATA ANALYST', 'DATA ENGINEER', 'DATA ANALYST', 'DATA ENGINEER')